<h1>Bienvenido al Juego del Ahorcado!</h1>	

<form method='post' action='/comparar_letra'>
	<br><%= @@palabraoculta%></br>
	
	<br>ingresar letra:
	<input type="text" name="letra"  />
	<input type="submit" name="adivinar" value="adivinar"/>
	intentos restantes: <%= @intento %>
	</br> 
</form>
