<h1>Bienvenido al Juego del Ahorcado!</h1>	
<br>
<form method='post' action='/'>
	<%= @@ahorcado.dibujar_lineas()%>
</br>
<br>ingresar letra:
<input type="text" name="letra"  />
<input type="submit" name="adivinar" value="adivinar"/>
intentos restantes: <%= @intento %>
</br> 
</form>
